<!doctype html>
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Linfeng SHU's personal blog.">
    <meta name="keyword" content="Linfengshu,舒麟峰,linfeng shu,shulinfeng">
    <link rel="shortcut icon" href="../../static/gargantua.png">
    <title>
        Linfeng SHU's blog
    </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--<link rel="stylesheet" href="source/css/typo.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
        .intro-header {
            background-image: url('../../static/star1.jpg')
        }
    </style>

    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <div class="site-heading">
                        <img src="{{ url_for('static', filename='gargantua.png') }}" class=" img-circle my_profile"
                     >
                        <h1>Linfeng SHU</h1>
                        <span class="subheading">I think, therefore I am.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
    <!-- Navigation -->
{% block nav %}
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ base_url + '/' }}">Linfeng SHU</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- Known Issue, found by Hux:
                <nav>'s height woule be hold on by its content.
                so, when navbar scale out, the <nav> will cover tags.
                also mask any touch event of tags, unfortunately.
            -->
            <div id="huxblog_navbar">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ base_url + "/" }}">Home</a></li>
                        <li><a href="{{ url_for('main.about') }}">About</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}
    {% block container %}
    {% endblock %}
    {% macro footer() %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">

                        <li>
                            <a target="_blank" href="https://github.com/LinfengSHU99">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                            <a target="_blank" href="https://www.linkedin.com/in/linfeng-shu-a2983621b/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>

                    </ul>
                    <p class="copyright text-muted">
                        Copyright &copy; Linfeng SHU
                        <br>
                        Theme by <a href="http://beantech.org/">Bean Tech</a>
                        <span style="display: inline-block; margin: 0 5px;">
                        <i class="fa fa-heart"></i>
                    </span>
                        re-Ported by <a href="https://github.com/hilanmiao/hexo-theme-lanmiao">Lazy Cat</a>
                        <br>
                        <a href="{{ url_for('main.route_to_admin') }}">Admin</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {% endmacro %}
    {{ footer() }}
<!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>