{% macro archiveWidget(year_list) %}
<div class="archieveWidget">
    <h3 style="text-align: center;">Archives</h3>

    <div id="archieve">
        {% for year in year_list %}
        <div class="panel">
            <div class="archieve">
                <span><i class="fa fa-angle-double-right"></i></span>
                <a class="archieveName" data-toggle="collapse" data-parent="#archieve"
                   href="#2017">
                    <h5>{{ year }}</h5>
                </a>
{#                <a class="archieveCount" href="javascript:;">#}
{#                    <h5>(50)</h5>#}
{#                </a>#}
            </div>
            <div class="collapse" id="2017">
                <ul>
                    {% for month in monthOfYear(year) %}
                    <li>
                        <span><i class="fa fa-angle-right"></i></span>
                        <a href="javascript:;" class="archieveName">
                            <h5>{{ month }}({{ numOfArticle(year, month) }})</h5>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}