{% macro archiveWidget(year_month_list) %}
<div class="archieveWidget">
    <h3 style="text-align: center;">Archives</h3>

    <div id="archieve">
        {% for year_month in year_month_list %}
        <div class="panel">
            <div class="archieve">
                <span><i class="fa fa-angle-double-right"></i></span>
                <a class="archieveName" data-toggle="collapse" data-parent="#archieve"
                   href="#{{ year_month[0] }}">
                    <h5>{{ year_month[0] }}</h5>
                </a>
{#                <a class="archieveCount" href="javascript:;">#}
{#                    <h5>(50)</h5>#}
{#                </a>#}
            </div>
            <div class="collapse" id="{{ year_month[0] }}">
                <ul>
                    {% for month_num in year_month[1:] %}
                    <li>
                        <span><i class="fa fa-angle-right"></i></span>
                        <a href="{{ base_url + "/archive/" + year_month[0] + '/' + month_num[0]}}" class="archieveName">
                            <h5>{{ month_num[0] }}({{month_num[1]}})</h5>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}