{% extends 'index.html' %}

{% block post_preview %}
{#{{ super() }}#}
    {% for article,href_ in zip_list %}
        <div class="post-preview">
            <a href={{ href_|safe }}>
                <h2 class="post-title">{{ article.title }}</h2>
                <h3 class="post-subtitle">{% block post_subtitle %}{% endblock %}</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="#!">Start Bootstrap</a>
                on September 24, 2022
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
{% endblock %}
{#{{ self.post_preview() }}#}
{#{{ self.post_preview() }}#}