<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="懒猫">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="image/cat.jpg">

    <title>
    </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--<link rel="stylesheet" href="source/css/typo.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toc.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight.css') }}">

    <!-- 使得数字字母等自动换行 -->
    <style>
        .intro-header {
            background-image: url('image/cat.jpg')
        }
        p {
            word-wrap:break-word
        }
    </style>

    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% block post_heading %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </header>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('main.index')}}">Linfeng SHU</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- Known Issue, found by Hux:
                <nav>'s height woule be hold on by its content.
                so, when navbar scale out, the <nav> will cover tags.
                also mask any touch event of tags, unfortunately.
            -->
            <div id="huxblog_navbar">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{url_for('main.index')}}">Home</a></li>
{#                        <li><a href="#">Archieve</a></li>#}
{#                        <li><a href="#">Category</a></li>#}
{#                        <li><a href="#">Tags</a></li>#}
                        <li><a href="{{ url_for('main.about') }}">About</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Content -->
    <div class="container">
        <div class="row">
            <!-- Post container -->

            <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
                {% block content %}

                {% endblock %}


                <!-- pager -->
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a></li>
                    <li class="next"><a href="#">Newer &rarr;</a></li>
                </ul>
            </div>
            <!-- Sidebar container-->
            <div class="
    col-lg-3 col-lg-offset-0
    col-md-3 col-md-offset-0
    col-sm-12
    col-xs-12
    sidebar-container
">
                <!-- toc -->
                <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
                    <h4><i class="fa fa-bookmark"></i> Catalog</h4>
                    <ul class="nav bs-docs-sidenav">

                    </ul>

                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">

                        <li>
                            <a target="_blank" href="http://git.oschina.net">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                        </li>

                    </ul>
                    <p class="copyright text-muted">
                        Copyright &copy; Linfeng SHU
                        <br>
                        Theme by <a href="http://beantech.org/">Bean Tech</a>
                        <span style="display: inline-block; margin: 0 5px;">
                        <i class="fa fa-heart"></i>
                    </span>
                        re-Ported by <a href="http://mmczgd.oschina.io/">Lazy Cat</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</head>